header {
  background: white;
  padding-top: 15px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;

  z-index: 34242;
}

.filler {
  height: 20vh;
  background-color: white;
  position: static;
}

.logo {
  width: 100px;
}

.destacados {
  height: 90vh;
  width: 100%;
  padding-top: 50px;
}

.destacados h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.marca {
  color: black;
  font-weight: 700;
  font-size: 20vh;
  font-family: "Gochi Hand", cursive;
}

h4 {
  color: black;
}
.banner {
  text-align: center;

  height: 40vh;
}

p,
h5 {
  font-family: "Caveat", cursive;
}

.botonera li {
  display: inline-block;

  margin-left: 8px;
  font-weight: 700;
  font-size: 20px;
}
.botonera li a {
  color: #666;
}
.botonera li a:hover {
  color: black;
  text-decoration: none;
}
