html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Liu Jian Mao Cao', cursive;
    color: white;
    font-size: 1.6rem;
    line-height: 1;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

img {
    max-width: 100%;
}

h1{
    text-align: center;
    font-size: 5rem;
    align-items: center;
   
}

h1:hover{
    color: #BA4A00;
    cursor: default;
}

main{

    font-size: 2.5rem;
    height: 100rem;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}

h4{
font-weight: 400; 
text-align: center; 
background: #6E2C00; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #BA4A00 ;}

h4:hover{
    color: #BA4A00;
    cursor: default;
}

.cafe-imagen{
    position: relative;
    height: 4rem;
    width: 4rem;
    justify-content: right;
    top: 0.5rem;
    
}

.torta-imagen{
    position: relative;
    height: 4rem;
    width: 4rem;
    justify-content: right;
    top: 0.5rem;
}