body{
    font-family: 'Caveat', cursive;
}

header{
    font-weight: 700;
    text-align: center;
    background: url(../img/contacto.jpg);
    background-position: center;
    background-size: cover cover;
    height: 10vh;
    background-repeat: no-repeat;
    color: white;
    
}

img{

    image-rendering: auto;
    width: 100%;
    
   
}

